@inherits LayoutComponentBase

<div class="auth-wrapper">
    <main>
        @Body
    </main>
</div>

<style>
    .auth-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #f4f7f6; /* Hafif gri bir arka plan */
    }
</style>